<ion-header class="ion-no-border">

  <ion-toolbar class="barra-login" color="dark"> 
    <div class="conteiner">
      <div class="space"></div>
      <a href="#login">Acesse sua conta</a><span class="pre-span"> ou </span><a href="#cadastar">Cadastre-se</a>
    </div>
  </ion-toolbar>

  <ion-toolbar class="barra-logo">
    <div class="conteiner">
      <ion-img class="logo" src="../assets/logo.png"></ion-img>
      <div class="space">
      </div>
      <form class="busca">
        <ion-input></ion-input>
        <ion-button color="primary" expand="full" >buscar</ion-button>
      </form>    
    </div>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <div class="conteiner">
      <ion-buttons class="barra" slot="start">
        <ion-button expand="full" href="#">Página Inicial</ion-button>
        <div *ngFor="let x of categorias">
          <ion-button expand="full" href={{x.path}}>{{ x.name }}</ion-button>
        </div>
        <ion-button expand="full" href="#contato">Contato</ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div  class= "conteiner">
    <div class="barra-lateral">
      <div class="barra-lateral-content">
        <ul>
          <li><a href="home">Página Inicial</a></li>
          <div *ngFor="let x of categorias">
            <li><a href={{x.path}}>{{x.name}}</a></li>
          </div>
          <li><a href="contato">Contato</a></li>
        </ul>
      </div>
    </div>
    <div class="corpo">
      <div class="corpo-content">
        
        <h3>{{nomeCategoria}}</h3>
        
        <div *ngFor="let x of produtos">
          <ion-card class="card-produto">
            <ion-card-header>
              <ion-img class= "img-produto" src={{imgpath.concat(x.image)}}></ion-img>
              <ion-card-subtitle>{{x.filter[0]['gender']}}</ion-card-subtitle>
              <ion-card-title>{{x.name}}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Valor: {{x.price.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}<br>
              <strong>{{x.specialPrice ? 'Promoção: ' + x.specialPrice.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) : ''}}</strong>
            </ion-card-content>
          </ion-card>
        </div>
        
      </div>
    </div>
  </div>

  <ion-footer class="ion-no-border">
    <div class="conteiner"><ion-toolbar color="primary"></ion-toolbar></div>
  </ion-footer>

</ion-content>

